<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Escanear
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding id="page3" style="background-color:rgb(197, 103, 15);">
 

  
  <!--ng-controller="ExampleController" ng-init="preImages()"-->
  





  <img src="{{ mifoto }}" style="display:block;width:50%;height:auto;margin-left:auto;margin-right:auto;" />
  <button id="escanear-button4" ion-button color="balanced" block style="font-weight:lighter;font-style:italic;" on-click="goToResultados()">
    escanear
  </button>
  <button id="escanear-button6" ion-button color="balanced" (click)="tomarfoto()" block>
    <lottie-animation-view [options]="lottieConfig" [width]="60" [height]="60"></lottie-animation-view>    tomar foto
  </button>

  <button ion-button color="secondary" (click)="getPictures2()" block>
    <lottie-animation-view [options]="lottieConfig2" [width]="60" [height]="60"></lottie-animation-view>  Obtener fotos
  </button>

  <button ion-button color="secondary" (click)="postfoto()" block>
    <lottie-animation-view [options]="lottieConfig3" [width]="60" [height]="60"></lottie-animation-view>Enviar Imagenes
  </button>
<button ion-fab style="background-color: chartreuse" *ngIf="ocultar">

<ion-icon name="leaf"></ion-icon>

<ion-card  class="card-oscuro">
  <ion-slides class="image-slider" loop="true" effect="coverflow">
    <ion-slide *ngFor="let photo of result">
      <p style="color:#e6e6e6;"><ion-icon name="md-images"  ></ion-icon> {{photo}} <ion-icon name="md-rewind" float-right></ion-icon></p>
      <img src={{photo. foto}} class="thumb-img" imageViewer/>
    </ion-slide>
  </ion-slides>
</ion-card>


</button>

<ion-content padding>
  <button ion-button (click)="getPictures2()">Get Pictures</button>
  <div class="row" >
    <ion-item-divider>
      Árbol 1
    </ion-item-divider>
    <div *ngFor="let image of images; let i=index;">
      <ion-row *ngIf="i%4===0">
        <ion-col col-3 *ngIf="i<images.length">
            <img [src]="images[i]">
        </ion-col>
        <ion-col col-3 *ngIf="i+1<images.length">
            <img [src]="images[i+1]">
        </ion-col>
        <ion-col col-3 *ngIf="i+2<images.length">
            <img [src]="images[i+2]">
        </ion-col>
        <ion-col col-3 *ngIf="i+3<images.length">
            <img [src]="images[i+3]">
        </ion-col>
      </ion-row>
    </div>
  </div>
 
</ion-content>


</ion-content>