<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Escanear
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding id="page3" style="background-color:rgb(197, 103, 15);">
 

  
  <!--ng-controller="ExampleController" ng-init="preImages()"-->
  



  <button id="escanear-button6" ion-button color="balanced" (click)="tomarfoto()" block>
    <lottie-animation-view [options]="lottieConfig" [width]="60" [height]="60"></lottie-animation-view>    Tomar Foto
  </button>

  <button ion-button color="secondary" (click)="getPictures2()" block>
    <lottie-animation-view [options]="lottieConfig2" [width]="60" [height]="60"></lottie-animation-view>  Obtener fotos
  </button>



<button ion-fab style="background-color: chartreuse" *ngIf="ocultar">

<ion-icon name="leaf"></ion-icon>

<ion-card  class="card-oscuro">
  <ion-slides class="image-slider" loop="true" effect="coverflow">
    <ion-slide *ngFor="let photo of result">
      <p style="color:#e6e6e6;"><ion-icon name="md-images"  ></ion-icon> {{photo}} <ion-icon name="md-rewind" float-right></ion-icon></p>
      <img src={{photo. foto}} class="thumb-img" imageViewer/>
    </ion-slide>
  </ion-slides>
</ion-card>


</button>

<ion-content >
  <div *ngFor="let set of contenedorvisual; let in=index;">
  <div class="row" >
    <ion-item-divider>
      Árbol {{in+1}}
    </ion-item-divider>
    <div *ngFor="let image of set; let i=index;" class="col-md-12">
      <ion-row *ngIf="i%4===0">
        <ion-col col-3 *ngIf="i<set.length" class="col-md-3">
            <img [src]="set[i]"  height="120px">
        </ion-col>
        <ion-col col-3 *ngIf="i+1<set.length" class="col-md-3">
            <img [src]="set[i+1]" height="120px">
        </ion-col>
        <ion-col col-3 *ngIf="i+2<set.length" class="col-md-3">
            <img [src]="set[i+2]" height="120px">
        </ion-col>
        <ion-col col-3 *ngIf="i+3<set.length" class="col-md-3">
            <img [src]="set[i+3]" height="120px">
        </ion-col>
      </ion-row>
    </div>
  </div>
</div> <!-- BIG NGFOR -->
</ion-content>

<ion-fab bottom right>
    <button ion-fab (click)="agregarArbol()" ><ion-icon name="ios-leaf-outline"></ion-icon></button>
</ion-fab>

<button ion-button color="secondary" (click)="postfoto()" block>
    <lottie-animation-view [options]="lottieConfig3" [width]="60" [height]="60"></lottie-animation-view>Enviar Imagenes
</button>

</ion-content>